<!-- Shipping Banner Component -->
<div class="swift-shipping-banner">
  <div class="swift-shipping-banner__container">
    <div class="swift-shipping-banner__content">
      <img
        src="./assets/truck8139-m5j.svg"
        alt=""
        aria-hidden="true"
        class="swift-shipping-banner__icon"
      />
      <span class="swift-shipping-banner__text">
        Frete grátis a partir de R$ 299,00 em São Paulo com entrega agendada e entrega em 1 dia útil
      </span>
    </div>
  </div>
</div>
